<div id="menu" class="container navbar">
  <div class="row">
    <div class="col-lg-12">
      <ul class="nav navbar-nav">
        <li><a href="#">Главная</a></li>
        <li><a href="#featured">Рекомендуемые товары</a></li>
        <li><a href="#categories">Категории</a></li>
        <li><a href="#about">О нас</a></li>
      </ul>
    </div>
  </div>
</div>