{% if category_id %}
  <div class="list-group">
  {% for category in categories %}
    {% if category.category_id == category_id %} 
      <a href="{{ category.href }}" class="list-group-item active">{{ category.name }}</a> 
      {% if category.children %}
        {% for child in category.children %}
          {% if child.category_id == child_id %}
            <a href="{{ child.href }}" class="list-group-item active">&nbsp;&nbsp;&nbsp;- {{ child.name }}</a> 
          {% else %} 
            <a href="{{ child.href }}" class="list-group-item">&nbsp;&nbsp;&nbsp;- {{ child.name }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% else %}
      <a href="{{ category.href }}" class="list-group-item">{{ category.name }}</a>
    {% endif %}
  {% endfor %}
</div>
{% else %}
<div class="container">
  <h2 id="categories" class="page-heading">Категории</h2>
  <div class="row">
    <div class="col-xs-12 categories-list">
      {% for category_row in categories|batch(4) %}
        <div class="row">
          {% for category in category_row %}
            <div class="col-sm-6 col-md-3">
              <a href="{{ category.href }}" class="thumb-hover">
                <img src="{{ category.image }}" alt="{{ category.name }}" class="product-thumb">
                <p class="text-center">{{ category.name }}</p>
              </a>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
